@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply text-custom-grey bg-custom-greyLight font-sans;
    font-size: 0.85rem;
  }

  .btn{
    @apply text-white w-full flex justify-center py-2 px-4 cursor-pointer rounded-sm;
    transition: all 0.1s ease-in;
  }

  .btn-primary{
    @apply bg-custom-green;
  }

  .btn-primary:hover{
    @apply bg-custom-greenLight;
  }

  .btn-secondary{
    @apply bg-custom-blue;
  }

  .btn-secondary:hover{
    @apply bg-custom-blueLight;
  }

  .action-text{
    @apply cursor-pointer text-xs font-semibold text-custom-blue;
    transition: all 0.1s ease-in;
  }

  .action-text:hover{
    @apply text-custom-blueLight;
  }

  .sku{
    @apply text-xs mr-4 italic text-gray-400;
  }

  .tooltip{
    @apply text-center;
    width: 400px;
  }

}